<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="azure-server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="SpaAssets" stopProcessing="true">
          <match url="^assets/(.*)$" />
          <action type="Rewrite" url="dist/spa/assets/{R:1}" />
        </rule>
        <rule name="SpaFavicon" stopProcessing="true">
          <match url="^favicon\.ico$" />
          <action type="Rewrite" url="dist/spa/favicon.ico" />
        </rule>
        <rule name="NodeRoutes" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="azure-server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="dist/spa/index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
